* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

header {
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    div.logo {
        display: flex;
        flex: 7 1 400px;
        align-items: center;

        img {
            width: 75px;
            height: 75px;
        }
    }

    nav {
        flex: 3 1 400px;

        ul {
            display: flex;
            justify-content: space-around;
            list-style-type: none;

            li a {
                text-decoration: none;
                color: #09777d;
                font-size: 1.4rem;
            }
        }
    }
}

main {
    section.cover {
        min-height: 90vh;
        width: 100%;
        background-image: url("../img/cover.jpeg");
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-flow: column wrap;

        h3 {
            color: white;
            font-size: 3rem;
            margin: 18px;
        }

        button.start {
            border: none;
            color: white;
            padding: 1.35rem 2.2rem;
            font-size: 1.8rem;
            border-radius: 1rem;
            background-color: #3bf0e5;
            cursor: pointer;
        }

        div.filter {
            width: 100%;
            height: 90vh;
            background-color: rgba(0, 0, 0, 0.2);
            position: absolute;
            top: 0;
            z-index: -1;
        }
    }

}

@media screen and (max-width: 380px) {
    h1 {
        font-size: 1.4rem;
    }

    header nav ul li a {
        font-size: 1.1rem;
    }
}