* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

header {
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    div.logo {
        display: flex;
        flex: 7 1 400px;
        align-items: center;

        img {
            width: 75px;
            height: 75px;
        }
    }

    nav {
        flex: 3 1 400px;

        ul {
            display: flex;
            justify-content: space-around;
            list-style-type: none;

            li a {
                text-decoration: none;
                color: #09777d;
                font-size: 1.4rem;
            }
        }
    }
}

@media screen and (max-width: 380px) {
    h1 {
        font-size: 1.4rem;
    }

    header nav ul li a {
        font-size: 1.1rem;
    }
}