* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

header {
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    div.logo {
        display: flex;
        flex: 7 1 400px;
        align-items: center;

        img {
            width: 75px;
            height: 75px;
        }
    }

    nav {
        flex: 3 1 400px;

        ul {
            display: flex;
            justify-content: space-around;
            list-style-type: none;

            li a {
                text-decoration: none;
                color: #09777d;
                font-size: 1.4rem;
            }
        }
    }
}

main {
    section.cover {
        min-height: 90vh;
        width: 100%;
        background-image: url("../img/cover.jpeg");
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-flow: column wrap;

        h3 {
            color: white;
            font-size: 2.5rem;
            margin: 18px;
        }

        button.start {
            border: none;
            color: white;
            padding: 1.2rem 1.8rem;
            font-size: 1.8rem;
            border-radius: 1rem;
            background-color: #3bf0e5;
            cursor: pointer;
        }

        div.filter {
            width: 100%;
            height: 80vh;
            background-color: rgba(0, 0, 0, 0.2);
            position: absolute;
            top: 0;
            z-index: -1;
        }
    }

    section.feature {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        text-align: center;
        padding: 2rem;

        h2 {
            font-size: 2rem;
            margin: 1rem 0;
        }

        section.cards {
            width: 80%;
            min-height: 75vh;
            display: flex;
            flex-flow: row wrap;

            div.card {
                flex: 1 1 300px;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-around;
                align-items: center;
                padding: 1rem;

                img {
                    border-radius: 50%;
                    width: 15vw;
                    height: 15vw;
                    margin: 1rem 0;
                }

                h4 {
                    font-size: 1.35rem;
                    margin: 1rem 0;
                }

                p {
                    font-size: 1.25rem;
                    margin: 1rem 0;
                }

                a {
                    font-size: 1.3rem;
                    text-decoration: none;
                    color: white;
                    padding: 1.2rem 1.6rem;
                    background-color: #09777d;
                    margin: 1rem 0;
                }
            }
        }
    }
}

footer {
    background-color: darkseagreen;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    min-height: 40vh;
    justify-content: center;

    div.logo {
        margin: 0.5rem;
        display: flex;
        align-items: center;

        img {
            width: 75px;
            height: 75px;
        }
    }

    nav {
        margin: 0.5rem;
        width: 30%;
    }

    nav ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        list-style-type: none;

        li a {
            color: white;
            font-size: 1.25rem;
            font-weight: 700;
            text-decoration: none;
        }
    }

    div.media {
        margin: 1rem;

        a {
            margin: 0.5rem;

            img {
                margin: 0.25rem;
                padding: 0.25rem;
                width: 40px;
                height: 40px;
            }
        }
    }
}

@media screen and (max-width: 380px) {
    h1 {
        font-size: 1.4rem;
    }

    header nav ul li a {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 450px) {
    footer nav ul {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 850px) {
    main {
        section.feature {
            section.cards {
                div.card {
                    img {
                        width: 45vw;
                        height: 45vw;
                    }
                }
            }
        }
    }
}